// Desktop XL
$desktop-xl:1600px;

// Desktop
$desktop:1400px;

// Laptop
$laptop:1200px;

// Tablet horizontal
$tablet-lg:1024px;

// Tablet vertical
$tablet:768px;

// Móvil grande
$mobile-lg:576px;

// Móvil normal
$mobile:430px;

// Móvil pequeño
$mobile-sm:375px;
