@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;



@media (max-width:1600px){
    .project-content{
        h3{
            font-size:$font-m + 1 ;
        }
        p{
            font-size:$font-s + 1;
        }
    }
}


@media (max-width:1366px){
    .sections{
        width:85%;
    }

    .main-content{
        grid-template-columns:320px 1fr;
    }
}


@media (max-width:1024px){
    .sections{
        width:85%;
    }

    .main-content{
        grid-template-columns:260px 1fr;
    }

    .project-media{
        height:auto;
    }

    .project-content{
        h3{
            font-size:$font-l;
        }
        p{
            font-size:$font-s;
        }
    }
}


@media(max-width:768px){
    .main-content{
        grid-template-columns:220px 1fr;
    }

    .project-content-father{
        padding:16px;
    }

    .project-buttons{
        gap:12px;
    }

    .tech-pill{
        font-size:9px;
        small{
            font-size: $font-xxs;
        }
    }

    .project-content{
        h3{
            font-size:$font-m;
        }
        p{
            font-size:$font-xs;
        }
    }
}


@media(max-width:576px){
    .main-content{
        display:flex;
        flex-direction:column;
        gap:0;
    }

    .project-media{
        height:200px;
    }

    .project-media img{
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .project-content-father {
        padding:20px;
    }

    .project-content{
        gap:14px;
        h3{
            height:auto;
            font-size:$font-l - 2px;
        }
        p{
            height:auto;
            margin:0;
            font-size:$font-s;
            line-height:1.6;
        }
    }

    .tech-stack{
        height:auto;
        gap:8px;
    }

    .project-buttons{
        flex-direction:column;
        margin-top:5px;
    }

    .btn-main{
        width:100%;
        justify-content:center;
    }
}


@media(max-width:430px){
    .project-media{
        height:170px;
    }

    .project-content-father{
        padding:15px;
    }
}