@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;


@media (max-width:1366px){
    .experiences-grid{
        grid-template-columns:55% 40%;
        gap:25px;
    }
}


@media(max-width:1024px){
    .experience-card-test{
        min-height:350px;
    }

    .resume-preview{
        height:500px;
        flex:none;
    }
}


@media(max-width:768px){
    .experiences-grid{
        grid-template-columns:1fr;
        gap:30px;
    }

    .experiences-grid{
        gap:25px;
    }

    .experience-header{
        padding:14px 18px;
    }

    .experience-item{
        gap:14px;
    }

    .experience-top{
        h4{
            font-size:$font-m - 1px;
        }
    }

    .experience-content{
        h5{
            font-size:$font-s;
        }
            p{
            font-size:$font-s;
        }
    }

    .resume-preview{
        height:400px;
    }

}


@media(max-width:576px){
    .experience-header{
        padding: 15px 25px;
        h3{
            font-size:$font-m;
        }
    }

    .experience-top{
        flex-direction:column;
        align-items:flex-start;
    }

    .experience-card-test{
        height: 400px;
    }

    .experience-item{
        padding:14px;
    }

    .experience-logo{
        width:42px;
        height:42px;
    }

    .resume-preview{
        height:350px;
    }
}


@media(max-width:375px){
    .experience-header{
        h3{
            font-size:$font-m - 1px;
        }
        span{
            font-size:$font-xxs + 1px;
        }
    }

    .experience-top{
        h4{
            font-size:$font-m;
        }
    }

    .experience-content{
        h5{
            font-size:$font-xs;
        }
            p{
            font-size:$font-xs;
        }
    }
}
