@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;


.section-father{
    width:min(2560px,70%);
    margin:100px auto;
    display:grid;
    grid-template-columns:50% 50%;
    gap:70px;
}
.sections-son{
    width: 100%;
}

.sections{
    width:min(2560px,70%);
    margin:20px auto 100px;
    scroll-margin-top:60px;
}

.sections-header{
    margin-bottom:40px;
}

.sections-title{
    display:flex;
    align-items:center;
    gap:18px;
    i {
        font-size:20px;
        color:$gold-darky;
    }
    h2 {
        font-size:$font-title;
        font-weight:$font-bolt;
        color:$gold-darky;
        letter-spacing:1px;
    }
}

.sections-divider{
    margin-top:10px;
    width:100%;
    height:2px;
    overflow:hidden;
    background:var(--theme-text-disabled);
    position:relative;
    span{
        position:absolute;
        inset:0;
        width:50%;
        background:linear-gradient(
            90deg,
            transparent,
            $gold,
            $esmerald,
            $gold,
            $esmerald,
            $gold,
            transparent
        );
        animation:dividerMove 5s linear infinite;
    }
}

@keyframes dividerMove{
    from{
        transform:translateX(-120%);
    }
    to{
        transform:translateX(350%);
    }
}