@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Manrope",sans-serif;
    background: $body-night;
    // background: radial-gradient(circle at top,#0F1724, #070A0F 70%);
    overflow-x:hidden;
}
