$white:#FFF;

$gold-50:  #FFFDF2;
$gold-100: #FFF7D6;
$gold-light:#fbf5b7;
$gold-300: #F2D76A;
$gold-400: #E3C14D;
$gold: #D4AF37;
$gold-darky:#b38728;
$gold-dark:#aa771c;
$gold-800: #5c430d;
$gold-darksidian: #281c04;

$available:#0ecc2a;
// $esmerald-50: #F1FFFB;
// $esmerald-100:#D6FFF4;
// $esmerald-200:#9DFFE4;
// $esmerald-light:#66FFD8;
// $esmerald-400:#22D8AA;
// $esmerald:#00C896;
// $esmerald-600:#00A67B;
// $esmerald-700:#007A5A;
// $esmerald-dark:#00543E;
// $esmerald-900:#002C22;
// $esmerald-superdark:#001913;

// $esmerald-50:        #F2FBFF;
// $esmerald-100:       #D9F5FF;
// $esmerald-200:       #AEEAFF;
// $esmerald-light:     #67D9FF;
// $esmerald-400:       #33C4FF;
// $esmerald:           #00B8FF;
// $esmerald-600:       #0099D9;
// $esmerald-700:       #0078AD;
// $esmerald-dark:      #005A82;
// $esmerald-900:       #003A54;
// $esmerald-superdark: #001E2C;

// Morados claros
// $esmerald-50:        #FBF8FF;
// $esmerald-100:       #F1E8FF;
// $esmerald-200:       #DEC4FF;
// $esmerald-light:     #C084FF;
// $esmerald-400:       #A855F7;
// $esmerald:           #8B3DFF;
// $esmerald-600:       #7226D1;
// $esmerald-700:       #5A1FA8;
// $esmerald-dark:      #421778;
// $esmerald-900:       #2A0D4D;
// $esmerald-superdark: #18072E;

$esmerald-50:        #F9F6FB;
$esmerald-100:       #EEE6F3;
$esmerald-200:       #D9C8E2;
$esmerald-light:     #B99BC7;
$esmerald-400:       #9A70AF;
$esmerald:           #794F98;
$esmerald-600:       #633F7D;
$esmerald-700:       #4E3163;
$esmerald-dark:      #3A244A;
$esmerald-900:       #24162F;
$esmerald-superdark: #0C0916;


$linkeIn:#0E76A8;

$github-light:#8290dc;
$github:#5C6BC0;
$github-dark:#3d337e;

$gmail:#F44336;

$phone:#25D366;
$phone-dark:#128C7E;


$python-goldL:#FFDD00;
$python-goldD:#F4AD11;
$python-blueL:#00AFFB;
$python-blueD:#0070E2;

$sql1:#00758F;
$sql2:#00A9CE;
$sql3:#F29111;
$sql4:#F8B64C;

$cplus1:#00599C;
$cplus2:#3C78D8;
$cplus3:#77AFFF;


$body-night:#0D1117;

$background:#070A0F;
$background-light:#0B1220;

$back-nav:rgba(20,20,20,.30);

$text:rgba(255,255,255,.94);
$text-secondary:rgba(255,255,255,.72);
$text-disabled:rgba(255,255,255,.45);
$back-disabled:rgba(255,255,255,.03);


// ======================================================
// THEME SYSTEM
// ======================================================

:root {
    // =========================
    // Dark theme - Default
    // =========================

    --theme-body: #0C0916;
    --theme-background: #070A0F;
    --theme-background-light: #0B1220;

    --theme-nav: rgba(86, 54, 116, 0.5);

    --theme-text: rgba(235, 205, 253, 0.94);
    --theme-text-secondary: rgba(255,255,255,.72);
    --theme-text-disabled: rgba(255,255,255,.45);

    --theme-card: rgba(255,255,255,.03);

    --theme-border: rgba(255,255,255,.08);

    --theme-white: #FFFFFF;

    --theme-bg: #{$body-night};
    --theme-card-bg: rgba(115, 67, 156, 0.243);
    --theme-card-border: rgba(255,255,255,.08);

    --theme-text: #{$white};

    --theme-panel-dark: #{$esmerald-900};

    --theme-glass-light: rgba(255,255,255,.08);
    --theme-glass-border: rgba(255,255,255,.08);

    --theme-shadow: rgba(0,0,0,.35);

    --theme-gloss-strong: rgba(255,255,255,.55);
    --theme-gloss-soft: rgba(255,255,255,.10);
    --theme-reflection-soft: rgba(255,255,255,.08);
    --theme-reflection-strong: rgba(255,255,255,.20);

    --theme-surface: rgba(255,255,255,.04);
    --theme-highlight: rgba(255,255,255,.08);
    --theme-image-bg: rgba(255,255,255,.03);
    --theme-cv-overlay: rgba(7,10,15,.75);

    --theme-certification-bg: rgba(255,255,255,.03);
    --theme-certification-border: rgba(255,255,255,.05);
    --theme-certification-hover: rgba($gold,.05);

    --theme-footer-bg: rgba(86,54,116,.40);
    --theme-footer-border: rgba(255,255,255,.08);
    --theme-footer-social-border: rgba(255,255,255,.08);

    --theme-gold100: #FFF7D6;
    --theme-goldlight: #fbf5b7;
    --theme-gold: #D4AF37;
    --theme-gold300: #F2D76A;
    --theme-goldDarksidian: #281c04;
    --theme-esmerald200: #DEC4FF;
    --theme-esmerald900: #24162F;

}


// ======================================================
// Light theme
// ======================================================

body.light-theme {

    --theme-body: #957FA2;
    --theme-background: #4e3360;
    --theme-background-light: #655375;

    --theme-nav: rgba(121, 79, 152, .72);

    --theme-text: #2b1c36;
    --theme-text-secondary: #24162F;
    --theme-text-disabled: #633F7D;

    --theme-card: rgba(255,255,255,.42);

    --theme-border: rgba(91, 55, 125, .14);

    --theme-white: #292334;

    --theme-bg: #F4EBDD;

    --theme-card-bg: rgba(255,255,255,.42);
    --theme-card-border: rgba(90,31,168,.18);

    --theme-text: #2A1838;

    --theme-panel-dark: #E9DDF0;

    --theme-glass-light: rgba(255,255,255,.35);
    --theme-glass-border: rgba(90,31,168,.16);

    --theme-shadow: rgba(66,23,120,.18);
    
    --theme-gloss-strong: rgba(255,255,255,.70);
    --theme-gloss-soft: rgba(255,255,255,.25);
    --theme-reflection-soft: rgba(90,31,168,.05);
    --theme-reflection-strong: rgba(255,255,255,.35);

    --theme-surface: rgba(255,255,255,.48);
    --theme-highlight: rgba(255,255,255,.65);
    --theme-image-bg: rgba(255,255,255,.30);
    --theme-cv-overlay: rgba(74,50,40,.32);

    --theme-certification-bg: rgba(255,255,255,.48);
    --theme-certification-border: rgba(90,31,168,.16);
    --theme-certification-hover: rgba(212,175,55,.10);

    --theme-footer-bg: rgba(121,79,152,.7);
    --theme-footer-border: rgba(90,31,168,.16);
    --theme-footer-social-border: rgba(90,31,168,.16);


    --theme-gold100: #281c04;
    --theme-goldlight: #aa771c;
    --theme-gold: rgb(173, 122, 33);
    --theme-gold300: #5c430d;
    --theme-goldDarksidian: #b38728;
    --theme-esmerald200: #421778;
    --theme-esmerald900: #9A70AF;

}