$white:#FFF;

$gold-50:  #FFFDF2;
$gold-100: #FFF7D6;
$gold-light:#fbf5b7;
$gold-300: #F2D76A;
$gold-400: #E3C14D;
$gold: #D4AF37;
$gold-darky:#b38728;
$gold-dark:#aa771c;
$gold-800: #5c430d;
$gold-darksidian: #281c04;

// $esmerald-50: #F1FFFB;
// $esmerald-100:#D6FFF4;
// $esmerald-200:#9DFFE4;
// $esmerald-light:#66FFD8;
// $esmerald-400:#22D8AA;
// $esmerald:#00C896;
// $esmerald-600:#00A67B;
// $esmerald-700:#007A5A;
// $esmerald-dark:#00543E;
// $esmerald-900:#002C22;
// $esmerald-superdark:#001913;

// $esmerald-50:        #F2FBFF;
// $esmerald-100:       #D9F5FF;
// $esmerald-200:       #AEEAFF;
// $esmerald-light:     #67D9FF;
// $esmerald-400:       #33C4FF;
// $esmerald:           #00B8FF;
// $esmerald-600:       #0099D9;
// $esmerald-700:       #0078AD;
// $esmerald-dark:      #005A82;
// $esmerald-900:       #003A54;
// $esmerald-superdark: #001E2C;


$esmerald-50:        #FBF8FF;
$esmerald-100:       #F1E8FF;
$esmerald-200:       #DEC4FF;
$esmerald-light:     #C084FF;
$esmerald-400:       #A855F7;
$esmerald:           #8B3DFF;
$esmerald-600:       #7226D1;
$esmerald-700:       #5A1FA8;
$esmerald-dark:      #421778;
$esmerald-900:       #2A0D4D;
$esmerald-superdark: #18072E;


$linkeIn:#0E76A8;

$github-light:#8290dc;
$github:#5C6BC0;
$github-dark:#3d337e;

$gmail:#F44336;

$phone:#25D366;
$phone-dark:#128C7E;


$python-goldL:#FFDD00;
$python-goldD:#F4AD11;
$python-blueL:#00AFFB;
$python-blueD:#0070E2;

$sql1:#00758F;
$sql2:#00A9CE;
$sql3:#F29111;
$sql4:#F8B64C;

$cplus1:#00599C;
$cplus2:#3C78D8;
$cplus3:#77AFFF;


$body-night:#0D1117;

$background:#070A0F;
$background-light:#0B1220;

$back-nav:rgba(20,20,20,.30);

$text:rgba(255,255,255,.94);
$text-secondary:rgba(255,255,255,.72);
$text-disabled:rgba(255,255,255,.45);
$back-disabled:rgba(255,255,255,.03);


// ======================================================
// THEME SYSTEM
// ======================================================

:root {
    // =========================
    // Dark theme - Default
    // =========================

    --theme-body: #0D1117;
    --theme-background: #070A0F;
    --theme-background-light: #0B1220;

    --theme-nav: rgba(20, 20, 20, .30);

    --theme-text: rgba(255,255,255,.94);
    --theme-text-secondary: rgba(255,255,255,.72);
    --theme-text-disabled: rgba(255,255,255,.45);

    --theme-card: rgba(255,255,255,.03);

    --theme-border: rgba(255,255,255,.08);

    --theme-white: #FFFFFF;
}


// ======================================================
// Light theme
// ======================================================

body.light-theme {

    --theme-body: #F3EBDD;
    --theme-background: #EDE3D2;
    --theme-background-light: #F8F1E5;

    --theme-nav: rgba(244, 235, 218, .72);

    --theme-text: #292334;
    --theme-text-secondary: #625A6D;
    --theme-text-disabled: #8C8493;

    --theme-card: rgba(255,255,255,.42);

    --theme-border: rgba(91, 55, 125, .14);

    --theme-white: #292334;
}