$radius-sm:12px;
$radius-card: 26px;
$radius-avatar: 18px;
$radius-middle: 50%;
$radius-button: 5px;

$transition:.35s;

$blur-sm:12px;
$blur-md:20px;
$blur-lg:35px;

$shadow:
0 20px 60px rgba(0,0,0,.35);

$padding-card: 20px;
$padding-cardIntern: 25px;

$font-light: 400;
$font-bolt: 600;
$font-title: 30px;
$font-l: 18px;
$font-m: 15px;
$font-s: 12px;
$font-xs: 11px;
$font-xxs: 7px;