@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;


.hero{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:40px;
    min-height:100vh;
}

.hero-wrapper{
    display:flex;
    align-items:stretch;
    gap:0;
    margin-top: 50px;
}

.left-panels{
    display:grid;
    grid-template-rows:5fr 2fr;
    align-self:stretch;
}

.left-panel{
    position:relative;
    display:flex;
    min-height:0;
}

.left-expand{
    position:absolute;
    top:0;
    right:0px;
    width:0;
    height:100%;
    overflow:hidden;
    background:$esmerald-900;
    transition:width .45s cubic-bezier(.2,.8,.2,1);
}

.left-panel:hover .left-button{
    transform:translateX(-390px);
}
.left-panel:hover .left-expand{
    width:390px;
}

.left-button{
    position:absolute;
    right:0;
    top:0;
    width:40px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
    color:$esmerald-superdark;
    cursor:pointer;
    border-radius:$radius-card 0 0 $radius-card;
    z-index:5;
    transition:transform .45s cubic-bezier(.2,.8,.2,1);
}

.left-label{
    writing-mode:vertical-rl;
    transform:rotate(180deg);
    font-size:$font-s;
    letter-spacing:2px;
    font-weight:700;
    text-transform:uppercase;
    opacity:.85;
}

.tech-button{
    background:linear-gradient(
        to bottom,
        $esmerald-dark,
        $esmerald-light,
        $esmerald,
        $esmerald-light,
        $esmerald-dark
    );
}

.tools-button{
    background:linear-gradient(
        to bottom,
        $esmerald-superdark,
        $esmerald-600,
        $esmerald-700,
        $esmerald-600,
        $esmerald-superdark
    );
}

.tech-category{
    margin-bottom:18px;
    h4{
        font-size:8px;
        letter-spacing:1px;
        text-transform:uppercase;
        color:$gold-300;
        margin-bottom:8px;
        border-bottom:1px solid rgba($gold,.18);
        padding-bottom:3px;
    }
}

.tech-grid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:10px;
}

.tools-grid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:10px;
    height: 100%;
    align-items: center; 
}

.tech-item,
.tool-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:3px;
    border-radius:$radius-avatar;
    // background:$back-disabled;
    // border:1px solid rgba(255,255,255,.04);
    transition:.3s;
}

.tech-item i,
.tool-item i{
    font-size:30px;
    color:$white;
}
.item-main i {
    font-size:40px;
}
.item-last i {
    font-size:20px;
}

.tech-item img,
.tool-item img{
    width:30px;
    height:30px;
    object-fit:contain;
}

.tech-item span,
.tool-item span{
    font-size:$font-xxs;
    color:$text-secondary;
    text-align:center;
    line-height:1.2;
}


.devicon-python-plain{
    background: linear-gradient(135deg, $python-blueD 0%, $python-blueL 35%, $python-goldD 65%, $python-goldL 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    filter:
        drop-shadow(0 0 8px rgba(255,212,59,.25))
        drop-shadow(0 0 4px rgba(48,105,152,.20));
    transition:.35s;
}
.tech-item:hover .devicon-python-plain{
    transform:scale(1.12);
    filter:
        drop-shadow(0 0 14px rgba(255,212,59,.45))
        drop-shadow(0 0 8px rgba(48,105,152,.35));
}

.devicon-mysql-original{
    background:linear-gradient( 135deg, $sql1, $sql2, $sql3, $sql4);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    filter: drop-shadow(0 0 8px rgba(242,145,17,.25));
    transition:.35s;
}
.tech-item:hover .devicon-mysql-original{
    transform:scale(1.12);
    filter: drop-shadow(0 0 12px rgba(242,145,17,.45));
}

.devicon-cplusplus-plain{
    background:linear-gradient(135deg, $cplus1, $cplus2, $cplus3);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    filter:drop-shadow(0 0 8px rgba(0,89,156,.25));
    transition:.35s;
}

.tech-item:hover .devicon-cplusplus-plain{
    transform:scale(1.12);
    filter:drop-shadow(0 0 12px rgba(70,150,255,.45));
}

.tech-item i{
    transition: transform .30s, filter .30s;
}



// =========== CARD PRINCIPAL =============
.app{
    display:flex;
    align-items:stretch;
    position:relative;
    gap:0;
}

.card {
    position: relative;
    // border-radius: 26px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    transition:
        transform .35s ease,
        box-shadow .35s ease;
}

.card-top {
    position: relative;
    padding: $padding-card 30px;
    background:rgba(156, 148, 148, 0.07);
    backdrop-filter:blur(30px) saturate(220%);
    border:1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border:1px solid rgba(255,255,255,.08);
}
.card-top::before{
    content:"";
    position:absolute;
    inset:0;
    padding:1.5px;
    background:
        linear-gradient(
            135deg,
            $esmerald,
            $esmerald-dark 22%,
            transparent 45%,
            transparent 55%,
            $gold-dark 78%,
            $gold
        );
    -webkit-mask:
        linear-gradient($white 0 0) content-box,
        linear-gradient($white 0 0);
    mask-composite:exclude;
    pointer-events:none;
}
.card-top::after{
    content:"";
    position:absolute;
    inset:0;
    background:
        radial-gradient(
            circle at 15% 10%,
            rgba($esmerald,.16),
            transparent 35%
        ),
        radial-gradient(
            circle at 85% 90%,
            rgba($gold,.14),
            transparent 40%
        );
    pointer-events:none;
}

/* GLASS HOVER */
.glass{
    position:absolute;
    inset:0;
    background:
        radial-gradient(
            240px 140px at var(--x,30%) var(--y,10%),
            rgba($esmerald-light,.18),
            transparent 70%
        );
    opacity:0;
    transition:.35s;
}
.card:hover .glass {
    opacity:.9;
}
.card-top > *:not(.glass) {
    position: relative;
    z-index: 2;
}


/* USER */
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

/* CSS AVATAR  */
.avatar {
    width:70%;
    height:170px;
    overflow:hidden;
    border-radius:$radius-avatar;
    flex-shrink:0;
    transition:.35s;
}

.avatar-initial{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center 56%;
    display:block;
    border:2px solid rgba(255,255,255,.08);
    box-shadow:
    0 15px 30px rgba(0,0,0,.35);
    transition:transform .45s ease;
}

.card:hover .avatar-initial{
    transform:scale(1.08);
}

.meta {
    max-width: 200px;
    font-size: $font-s;
    color: $gold-100;
    margin-bottom: 5px;
}

/* INFO */
.name {
    color: $white;
    font-weight: $font-bolt;
    font-size: $font-m;
}

.status {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: $font-s;
    color: $text-secondary;
}

.dot {
    width: 6px;
    height: 6px;
    background: $esmerald;
    border-radius: $radius-middle;
}

/* STACKED ACTIONS */
.actions{
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:12px;
    width:100%;
}


// Boton Derecho
.about-panel{
    display:flex;
    position:relative;
    margin-left:-1px;

}
.about-panel:hover .card-bottom{
    transform:translateX(490px);
}
.about-panel:hover .card-expand{
    width:490px;
}

.card-bottom{
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    left:0px;
    right:0;
    width:44px;
    height:100%;
    border-radius:0 $radius-card $radius-card 0;
    background: linear-gradient(to top,$gold-dark,$gold-light,$gold-darky,$gold-light,$gold-dark);
    transition:transform .45s ease;
    z-index:5;
    transition:transform .45s cubic-bezier(.2,.8,.2,1);
}

.card-expand{
    flex-shrink:0;
    width:0;
    overflow:hidden;
    white-space:normal;
    background:$gold-darksidian;
    transition:width .45s cubic-bezier(.2,.8,.2,1);
}

/* EXPAND CONTENT */
.section{
    width:490px;
    height:100%;
    padding:$padding-cardIntern;
    display:flex;
    flex-direction:column;
    border:none;
}
.left-expand .section{
    width:390px;
    height:100%;
    padding:20px 25px;
}

.title {
    font-size: $font-m;
    font-weight: $font-bolt;
    color: $white;
    margin-bottom: 10px;
}

.text {
    font-size: $font-s;
    color: $text-secondary;
    line-height: 1.4;
    flex:1;
}

.text-esmerald{
    color:$esmerald-200;
    font-weight:700;
    text-shadow:0 0 10px rgba($esmerald,.18);
}
.text-gold{
    color:$gold-300;
    font-weight:700;
    text-shadow:0 0 10px rgba($gold,.15);
}

.about-link{
    align-self:flex-end;
    display:flex;
    align-items:center;
    gap:10px;
    margin-top:20px;
    padding:12px 18px;
    border-radius:14px;
    text-decoration:none;
    color:$gold-300;
    background:rgba($gold,.06);
    border:1px solid rgba($gold,.18);
    font-size:$font-xs;
    font-weight:700;
    transition:.35s;
}

.about-link:hover{
    color:$white;
    background:rgba($gold,.12);
    border-color:$gold;
    transform:translateX(6px);
    box-shadow:
        0 0 20px rgba($gold,.22);
}

.about-link i{
    transition:.35s;
}

.about-link:hover i{
    transform:translateX(5px);
}


/* From Uiverse.io by mrhyddenn */ 
.btn {
    position: relative;
    padding: 5px 25px;
    border-radius: $radius-button;
    font-size: $font-xs;
    font-weight: $font-bolt;
    letter-spacing: 2px;
    background: transparent;
    color: $white;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.btn-link {
    border: 1.3px solid rgba($gold-dark, .4);
}
.btn-github {
    border: 1.3px solid rgba($gold-dark, .4);
}
.btn-gmail {
    border: 1.3px solid rgba($gold-dark, .4);
}

.btn:hover {
    border: 1.3px solid rgba($gold, .4);
    background: rgba($linkeIn, .4);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.btn-link:hover {
    background: rgba($linkeIn, .5);
    box-shadow: 0 0 30px 5px $gold-800;
}
.btn-github:hover {
    background: rgba($github, .5);
    box-shadow: 0 0 30px 5px $gold-800;
}
.btn-gmail:hover {
    background: rgba($gmail, .5);
    box-shadow: 0 0 30px 5px $gold-800;
}

.btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: $white;
  box-shadow: 0 0 50px 30px $white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
