@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;


.certifications-card{
    display:flex;
    flex-direction:column;
}

.certifications-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 25px;
    background:var(--theme-surface);
    border-bottom:1px solid rgba($gold,.18);
    box-shadow:
        0 12px 25px var(--theme-shadow),
        inset 0 1px 0 var(--theme-highlight);
    h3{
        display:flex;
        align-items:center;
        gap:12px;
        color:$gold;
        font-size:$font-l;
        font-weight:$font-bolt;
    }
    i{
        color:$gold;
    }
    span{
        width:110px;
        padding:6px 6px;
        border-radius:$radius-card;
        background:rgba($esmerald,.12);
        border:1px solid rgba($esmerald,.25);
        color:$esmerald-light;
        font-size:$font-xs;
        font-weight:$font-bolt;
    }
}

.certifications-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    padding:10px;
}

.certification-item{
    border-radius:18px;
    background:var(--theme-certification-bg);
    border:1px solid var(--theme-certification-border);
    transition:.35s;
    cursor:pointer;
}
.certification-item:hover{
    transform:translateY(-6px);
    border-color:rgba($gold,.35);
    background:var(--theme-certification-hover);
}

.certification-preview{
    height:250px;
    overflow:hidden;
    border-radius:$radius-avatar;
    img{
        width:100%;
        height:100%;
        object-fit:cover;
        transition:.4s;
    }
}

.certification-content{
    display:flex;
    flex-direction:column;
    flex:1;
    padding: 5px 15px 15px 15px;
}

.certification-top{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 10px;
}

.certification-certificate{
    background:rgba($gold,.12);
    border:1px solid rgba($gold,.35);
    color:$gold-light;
}

.certification-badge{
    height: 18px;
    padding: 2px 10px;
    border-radius:$radius-button;
    background:rgba($gold,.12);
    border:1px solid rgba($gold,.3);
    color:$gold-light;
    font-size:9px;
    font-weight:600;
}

.certification-title{
    color:var(--theme-text);
    font-size:$font-m;
    font-weight:$font-bolt;
}
.certification-company{
    color:$esmerald;
    font-size:$font-s;
}

.certification-date{
    margin-top:5px;
    color:var(--theme-text-secondary);
    font-size:12px;
}

.certification-speaker{
    background:rgba($esmerald,.12);
    border:1px solid rgba($esmerald,.35);
    color:$esmerald-light;
}

.certification-publication{
    background:rgba(#2389fd,.12);
    border:1px solid rgba(#3d95f9,.35);
    color:#66b0fb;
}

.certification-award{
    background:rgba(#E76FFF,.12);
    border:1px solid rgba(#E76FFF,.35);
    color:#F0A8FF;
}

.certification-item:hover .certification-preview img{
    transform:scale(1.06);
}
